		@CHARSET "UTF-8";
		body,div,a,ul,li
   	{
   		margin: 0px;
   		padding: 0px;
   	}
   	#layout
	{
		width:100%;
	}
	#sum
	{
		width:988px;
	}
   	body
   	{
   		font-size:12px;
   		color:black;
   	}
   	a
   	{
   		text-decoration: none;
   		color:black;
   	}
   	li
   	{
   		list-style: none;
   	}
   	#center1
   	{
   		width:100%;
   	}
   	#c-one
   	{
   		font-size:14px;
   		float:left;
   		width:100%;
   		height:20px;
   		text-align: left;
   		line-height: 30px;
   	}
   	#c-two
   	{
   		width:100%;
   		padding-top:30px;
   	}
   #c-two-left
{
	width:180px;
	font-size:16px;
	background-color: #DBE9EC;
	border:solid #06C;
	border-top-width:medium;
	border-bottom-width:medium;
	border-left-width:thin;
	border-right-width:thin;
	margin:10px;
	float:left;
}
#ctl
{
	height:28px;
	background-color:#06C;
	line-height:35px;
	height:40px;
	color:white;
}
#ctl-1
{
	padding-top:32px;
	height:50px;
}
#ctl-2
{
	padding-top:32px;
	height:50px;
}
#ctl-3
{
	padding-top:32px;
	height:50px;
}
#ctl-4
{
	padding-top:32px;
	height:55px;
}
    	#c-two-right
    	{
    		float:left;
    		width:750px;
    		font-size:16px;
    		border:solid #06C;
    		border-top-width:medium;
    		border-bottom-width:medium;
    		border-left-width:thin;
    		border-right-width:thin;
    		margin:10px;
    	}
    	#ctr
    	{
    		height:28px;
    		padding-left:18px;
    		background-color:#06C;
    		line-height:35px;
    		height:40px;
    		color:white;
    	}
		#ctr1
		{
			float:left;
		}
		#ctr1-1
		{
			float:left;
			width:100%;
			height:40px;
			text-align: center;
		}
		#ctr1-2
		{
			float:left;
			width:100%;
			height:40px;
			text-align: center;
			font-size:12px;
		}
		#ctr1-3
		{
			float:left;
			width:100%;
			height:40px;
			text-align: center;
			font-size:12px;
		}
		#ctr1-4
		{
			float:left;
			width:100%;
			height:40px;
			text-align: center;
			font-size:12px;
		}
		#ctr1-5
		{
			float:left;
			width:100%;
			height:40px;
			text-align: center;
			font-size:12px;
		}
		#ctr1-6
		{
			float:left;
			width:100%;
			height:40px;
			text-align: center;
			font-size:12px;
		}
		#ctr1-7
		{
			float:left;
			width:100%;
			height:40px;
			text-align: center;
			font-size:12px;
		}
		#ctr1-8
		{
			float:left;
			width:100%;
			height:40px;
			text-align: center;
			font-size:12px;
		}
		#ctr1-9
		{
			float:left;
			width:100%;
			height:40px;
			text-align: center;
			font-size:12px;
		}
		#ctr1-11
		{
			color:red;
			float:left;
			padding-top:15px;
			padding-left:30px;
		}
		#ctr1-12
		{
			float:left;
			padding-top:13px;
			font-weight: bold;
			font-size:14px;
		}
		#ctr1-13
		{
			float:left;
			padding-left:10px;
			padding-top:12px;
		}
		#ctr1-14
		{
			float:left;
			padding-top:13px;
			padding-left:10px;
		}
		#ctr1-21
		{
			color:red;
			padding-top:15px;
			padding-left:232px;
			float:left;
		}
		#ctr1-22
		{
			float:left;
			padding-top:13px;
		}
		#ctr1-23
		{
			float:left;
			padding-top:13px;
		}
		#ctr1-31
		{
			color:red;
			padding-top:15px;
			padding-left:244px;
			float:left;
		}
		#ctr1-32
		{
			float:left;
			padding-top:13px;
		}
		#ctr1-33
		{
			float:left;
			padding-top:13px;
		}
		#ctr1-41
		{
			color:red;
			padding-top:15px;
			padding-left:244px;
			float:left;
		}
		#ctr1-42
		{
			float:left;
			padding-top:13px;
		}
		#ctr1-43
		{
			float:left;
			padding-top:13px;
		}
		#ctr1-51
		{
			padding-top:15px;
			padding-left:228px;
			float:left;
		}
		#ctr1-52
		{
			float:left;
			padding-top:15px;
			padding-left:2px;
		}
		#ctr1-61
		{
			color:red;
			padding-top:15px;
			padding-left:220px;
			float:left;
		}
		#ctr1-62
		{
			float:left;
			padding-top:13px;
		}
		#ctr1-63
		{
			float:left;
			padding-top:13px;
		}
		#ctr1-71
		{
			color:red;
			padding-top:15px;
			padding-left:220px;
			float:left;
		}
		#ctr1-72
		{
			float:left;
			padding-top:13px;
		}
		#ctr1-73
		{
			float:left;
			padding-top:13px;
		}
		#ctr1-81
		{
			padding-top:15px;
			padding-left:228px;
			float:left;
		}
		#ctr1-82
		{
			float:left;
			padding-top:14px;
		}
		#ctr1-91
		{
			padding-top:15px;
			padding-left:228px;
			float:left;
		}
		#ctr1-92
		{
			float:left;
			padding-top:13px;
			color:#06C;
			font-size:14px;
		}
		
		#ctr2-1
		{
			float:left;
			width:100%;
			height:40px;
			text-align: center;
		}
		#ctr2-2
		{
			float:left;
			width:100%;
			height:40px;
			text-align: center;
			font-size:12px;
		}
		#ctr2-3
		{
			float:left;
			width:100%;
			height:40px;
			text-align: center;
			font-size:12px;
		}
		#ctr2-4
		{
			float:left;
			width:100%;
			height:40px;
			text-align: center;
			font-size:12px;
		}
		#ctr2-5
		{
			float:left;
			width:100%;
			height:40px;
			text-align: center;
			font-size:12px;
		}
		#ctr2-6
		{
			float:left;
			width:100%;
			height:40px;
			text-align: center;
			font-size:12px;
		}
		
		#ctr2-11
		{
			color:red;
			float:left;
			padding-top:15px;
			padding-left:30px;
		}
		#ctr2-12
		{
			float:left;
			padding-top:13px;
			font-weight: bold;
			font-size:14px;
		}
		#ctr2-13
		{
			float:left;
			padding-left:10px;
			padding-top:12px;
		}
		#ctr2-14
		{
			float:left;
			padding-top:13px;
			padding-left:10px;
		}
		
		#ctr2-21
		{
			color:red;
			float:left;
			padding-top:15px;
			padding-left:220px;
		}
		#ctr2-22
		{
			float:left;
			padding-top:13px;
		}
		#ctr2-23
		{
			float:left;
			padding-top:13px;
		}
		#ctr2-24
		{
			float:left;
			padding-top:13px;
			padding-left:10px;
			color:#06C;
		}
	
		#ctr2-31
		{
			padding-top:15px;
			padding-left:228px;
			float:left;
		}
		#ctr2-32
		{
			float:left;
			padding-top:13px;
		}
		#ctr2-41
		{
			padding-top:15px;
			padding-left:228px;
			float:left;
		}
		#ctr2-42
		{
			float:left;
			padding-top:15px;
		}
		#ctr2-51
		{
			padding-top:15px;
			padding-left:252px;
			float:left;
		}
		#ctr2-52
		{
			float:left;
			padding-top:13px;
		}
		#ctr2-61
		{
			padding-top:15px;
			padding-left:252px;
			float:left;
		}
		
		#ctr2-62
		{
			float:left;
			padding-top:13px;
		}
		#ctr3-1
		{
			float:left;
			width:100%;
			height:40px;
			text-align: center;
		}
		#ctr3-2
		{
			float:left;
			width:100%;
			height:40px;
			text-align: center;
			font-size:12px;
		}
		#ctr3-3
		{
			float:left;
			width:100%;
			height:40px;
			text-align: center;
			font-size:12px;
		}
		#ctr3-4
		{
			float:left;
			width:100%;
			height:40px;
			text-align: center;
			font-size:12px;
		}
		#ctr3-5
		{
			float:left;
			width:100%;
			height:40px;
			text-align: center;
			font-size:12px;
		}
		#ctr3-6
		{
			float:left;
			width:100%;
			height:40px;
			text-align: center;
			font-size:12px;
		}
		#ctr3-7
		{
			float:left;
			width:100%;
			height:40px;
			text-align: center;
			font-size:12px;
		}
		#ctr3-8
		{
			float:left;
			width:100%;
			height:40px;
			text-align: center;
			font-size:12px;
		}
		#ctr3-9
		{
			float:left;
			width:100%;
			height:40px;
			text-align: center;
			font-size:12px;
		}
		#ctr3-10
		{
			float:left;
			width:100%;
			height:40px;
			text-align: center;
			font-size:12px;
		}
		#ctr3-011
		{
			float:left;
			width:100%;
			height:40px;
			text-align: center;
			font-size:12px;
		}
		
		#ctr3-11
		{
			color:red;
			float:left;
			padding-top:15px;
			padding-left:30px;
		}
		#ctr3-12
		{
			float:left;
			padding-top:13px;
			font-weight: bold;
			font-size:14px;
		}
		#ctr3-13
		{
			float:left;
			padding-left:10px;
			padding-top:12px;
		}
		#ctr3-14
		{
			float:left;
			padding-top:13px;
			padding-left:10px;
		}	
		#ctr3-21
		{
			padding-top:15px;
			padding-left:228px;
			float:left;
		}
		#ctr3-22
		{
			float:left;
			padding-top:15px;
		}
		
		#ctr3-31
		{
			padding-top:15px;
			padding-left:204px;
			float:left;
		}
		#ctr3-32
		{
			float:left;
			padding-top:15px;
		}
		#ctr3-41
		{
			padding-top:15px;
			padding-left:228px;
			float:left;
		}
		#ctr3-42
		{
			float:left;
			padding-top:15px;
		}
		#ctr3-51
		{
			padding-top:15px;
			padding-left:252px;
			float:left;
		}
		#ctr3-52
		{
			float:left;
			padding-top:15px;
		}
		#ctr3-61
		{
			padding-top:15px;
			padding-left:252px;
			float:left;
		}
		#ctr3-62
		{
			float:left;
			padding-top:15px;
		}
		#ctr3-71
		{
			padding-top:15px;
			padding-left:252px;
			float:left;
		}
		#ctr3-72
		{
			float:left;
			padding-top:15px;
		}
		#ctr3-81
		{
			padding-top:15px;
			padding-left:252px;
			float:left;
		}
		#ctr3-82
		{
			float:left;
			padding-top:15px;
		}
		#ctr3-91
		{
			padding-top:15px;
			padding-left:228px;
			float:left;
		}
		#ctr3-92
		{
			float:left;
			padding-top:15px;
		}
		#ctr3-101
		{
			padding-top:15px;
			padding-left:228px;
			float:left;
		}
		#ctr3-102
		{
			float:left;
			padding-top:15px;
		}
		#ctr3-0111
		{
			padding-top:15px;
			padding-left:228px;
			float:left;
		}
		#ctr3-0112
		{
			float:left;
			padding-top:15px;
		}
		#ctr3-0113
		{
			float:left;
			padding-top:15px;
		}
		#ctr3-0114
		{
			float:left;
			padding-top:15px;
		}
		
		#footer {
		margin-top:10px;
		width: 100%;
		border-top-width: thin;
		border-top-style: solid;
		border-top-color: #06C;
		font-size: 13px;
		color: #666;
		float:left;
		}